.monk{display: flex;
width: 100%;
height: 90vh;
align-items: center;
justify-content: center;
flex-direction: column;}

#closed{display: none;}

body{    background-color: aquamarine;}

.monkey{font-size: 2000%;}

